body {
	width: 960px;
	margin: 0 auto;

	font-family: sans-serif;
}

#message {
	font-size: 12pt;
	height: 50px;
	text-align: center;
}

.player-board {
	
	$box-size: 25px;
	
	position: relative;
	
	.info {
		position: absolute;
		
		.player-name {
			

		}
		
		.fleet {
			margin-top: 10px;
			
			canvas {
				display: block;
				width: $box-size; height: $box-size * 5;
				margin-right: 5px;
				float: left;
			}
			clear-after: both;
		}
	}
	
	table {
		
		
		border-collapse: collapse;
		
		margin: 10px 150px;
		
		th, td {
			width: $box-size; height: $box-size;
		}
		th {
			font-size: .85em;
			color: #aaa;
		}
		td {
			
			width: $box-size; height: $box-size;
			border: 1px solid gray;
			background: #B1E6F2;
			
			&:hover {
				background: red;
			}
		}
	}
}
